<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {

                var classRoomName = $("#classRoomName").val();
                var saveAction = $("#saveAction").val();
                var id = $("#id").val();
                if (classRoomName.length == 0) {
                    alert("班级名称不能为空！");
                    return;
                }
                $.ajax({
                    type: "post", url: "/ClassesMgr/ClassesConroller.ashx",
                    dataType: "json",
                    data: { action: "SaveClass", saveAction: saveAction, classRoomName: classRoomName,id:id },
                    success: function (data) {
                        if (data.Status=="ok") {
                            window.location.href = "/ClassesMgr/ClassesConroller.ashx?action=ListClasses";
                        } else if (data.Status=="error") {
                            alert("出错了，"+data.Msg);
                        }
                    },
                    error: function () {
                        alert("通讯失败！");
                    }
                });
            });
        })
    </script>
 
</head>
<body>
    <input type="hidden" id="saveAction" value="@Model.action" />
    <input type="hidden" id="id" value="@Model.id" />

    班级名称：<input type="text" id="classRoomName" value="@Model.classRoomName"/>
    <br />
    <br />
    <input type="button" id="btnSave" value="保存" />
</body>
</html>
