<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body>

	<a href="SegmentController.ashx?action=addnew&chapterid=@Model.chapterId">新增段落</a>
	<br /><br />
	章节名称：<input type="text" disabled="disabled" value="@Model.chapterName" /><br /><br />

	<table border="1" cellpadding="10" >
		<thead>
			
			<tr>

				<th>创建日期</th>
				<th>段落编号</th>
				<th>段落名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@{
				List<RPW.Model.Segments> segments = (List<RPW.Model.Segments>)Model.segments;
				foreach (var segment in segments)
				{
					<tr>
						<td>@segment.CreateDateTime</td>
						<td>@segment.SerialNo</td>
						<td>@segment.Name</td>
						<td><a href="SegmentController.ashx?action=edit&id=@segment.Id&chapterId=@Model.chapterId">修改</a></td>
						<td><a href="SegmentController.ashx?action=delete&id=@segment.Id">删除</a></td>
					</tr>
				}   
			}


		</tbody>
	</table>
</body>
</html>
