<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!-- 数据库连接字符串-->
    <add name="ConStr"  connectionString="server=127.0.0.1;database=Persons;uid=sa;pwd=123"/>
    
  </connectionStrings>
 
  <appSettings >

    <!--查看课程，添加缓存时间是30分钟-->
    <add key="ModelCache" value="1"/>
    
    <!--查看谁在学习，添加缓存时间-->
    <add key="ModelCacheRecords" value="1"/>
    
    <!--激活码缓存，30分钟,激活用户的时候-->
    <add key="ActiveCodeCache" value="30"/>
    
    <!--数字验证码，修改密码时候-->
    <add key="numActiveCodeCache" value="1"/>
    <add key="SmtpServer" value="smtp.sina.com"/>
    <add key="MailFrom" value="rupengwangxcl@sina.com"/>
    <add key ="UserPassword" value="x461330197"/>
    
    <!--新用户报名，通知发送给给谁-->
    <add key="WhoReceive" value="461330197@qq.com"/>
    
    <!--支付宝。商户编号-->
    <add key="AliPayPartner" value="2"/>
    <!--支付宝。商户电子邮箱-->
    <add key="AliPaySellerEmail" value="461330197@qq.com"/>
    <!--支付宝。商户密钥-->
      <add key="AliPayKey" value="abc123"/>
    
    <!--网银，商户编号-->
    <add key="WangYinPartner" value="1"/>
      <!--网银，商户密钥-->
    <add key="WangYinKey" value="123456"/>
  
  </appSettings>
</configuration>
