<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>批量重置密码</title>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
        $(function () {

            //密码提交 按钮
            $("#btnSave").click(function () {
                var newPass = $("#newPass").val();
                var rePass = $("#rePass").val();
                if (newPass.length<2||newPass.length>20) {
                    alert("密码长度必须介于2到20之间！");
                    return;
                }
                if (newPass.length == 0) {
                    alert("请输入密码！");
                    return;
                }
                if (rePass.length == 0) {
                    alert("请再一次输入密码");
                    return;
                }
                if (newPass != rePass) {
                    alert("两次密码不一至！请重新输入!");
                    rePass.val() = "";
                    return;
                }
                var newPassword = newPass;
                var userList = $("#userList").val();
                $.ajax({
                    type: "post", url: "AdminUserController.ashx",
                    data: { action: "batchEditPassword", newPassword: newPassword, userList:userList },
                    success: function (data) {
                        if (data.Status == "ok") {
                            alert("恭喜，批量重置密码成功^_^\n您的新密码为:" + newPass);
                            window.location.href = "AdminUserController.ashx?action=list";
                        } else if (data.Status=="error") {
                            alert(data.Msg);
                            window.location.href = "AdminUserController.ashx?action=list";

                        }
                    },
                    error: function () {
                        alert("请求失败！");
                    }
                });

            });
            //返回 按钮
            $("#goBack").click(function () {

                $("#newPass").val() = "";
                $("#rePass").val() = "";
                window.location.href = "AdminUserController.ashx?action=list";
               
            });
        });
    </script>
</head>
<body>
    <input type="hidden" id="userList" value="@Model.userList" />
        <!--修改密码窗口-->
    <h1>批量重置用户密码</h1>
   <table>
       <tr><td>新密码：</td><td><input type="password" id="newPass" /></td></tr>
       <tr><td>确认密码：</td><td><input type="password" id="rePass" /></td></tr>
   </table>
    <input type="button" id="btnSave" value="提交" /> 
    <input type="button" id="goBack" value="取消" />
</body>
</html>
